.Title White {
    text-align:center;
}

.Title Red {
    text-align:center;
}

Title Black {
    text-align:center;
}

Title Blue {
    text-align:center;
}

Title Green {
    text-align:center;
}

Title Golden {
    text-align:center;
}